.modal {
  background-color: $white;
  max-width: 290px;
  margin: 50px auto 0;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgb(60, 60, 60);

  @include breakpoint($tablet) {
    max-width: 400px;
    margin-top: 120px;
  }

  @include breakpoint($desktop) {
    max-width: 600px;
    margin-top: 150px;
  }

  &__header {
    border-bottom: 1px solid $green;
    padding: 5px 10px;

    p {
      font-family: $secondary-font;
    }
  }

  &__body {
    padding: 30px 10px;

    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__footer {
    border-top: 1px solid $red;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(768px) {
      justify-content: flex-end;
    }

    a {
      text-decoration: none;
      border-radius: 5px;
      color: $white;
      display: block;
      padding: 10px;
      min-width: 110px;
      text-align: center;

      &.success {
        background-color: $green;
        margin-right: 10px;
      }

      &.error {
        background-color: $red;
      }
    }
  }
}
